.responsive:hover{
   
	cursor :pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}

.btn:hover{
	 cursor :pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}
.post-btn:hover{
	 cursor :pointer;
	box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
	transform: translateY(-0.1rem);
	transition: transform 150ms;
}
.nav-link:hover{
box-shadow: 0 0.4rem 1.4rem 0 rgba(86,185,235,0.5);
transform: translateY(0.1rem);
	transition: transform 150ms;
}